#buy-at-skyline {
    margin-top: 50px;

    .title {
        align-items: center;
        justify-content: center;
        display: flex;
        flex-flow: column; 
        margin-bottom: 30px;

        h2 {
            text-align: center;
            width: 50%;
        }

        .divisor {
            width: 60%;
            height: 5px;
            background-color: $color-default-blue;
            border-radius: 5px;
            max-width: 450px;
        }
    }

    .items {
        margin-top: 20px;

        .item {
            margin-bottom: 50px;

            h5 {
                text-align: center;
                text-transform: uppercase;
                min-height: 45px;
                margin-top: 20px;
            }

            p {
                text-align: center;
                font-weight: 500;
            }
        }

        .item-image-container {
            img {
                max-height: 120px;
                margin: 0 auto;
                display: block;
                width: auto;
            }
        }
    }
}
