//yellow
$color-default-yellow: #ffc43b;
//blue
$color-default-blue: rgb(59, 146, 232);
//gray
$background-gray: #F6F6F6;
$color-default-darkgray: #1d1c21;
$color-default-gray: #969696;

$color-default-light-blue: #b7e1ef;

$color-default-orange: #da6017;


$primary-color  : #71cd14;
$title-color    : #2a2a2a;
$text-color     : #797979;
$offwhite       : #f6f6f6;
$white: #fff;

$body-font: 'Roboto',
sans-serif;
$title-font: 'Heebo',
sans-serif;
