.gallery {
    .gallery_product {
        margin: 0;
        padding: 5px;
    }

    .center-filter {
        display: block;
        text-align: center;
    }

    img {
        width: 100%;
    }
}
