body {
	padding-top: 0;
	color: #fff;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    background-color: $background-gray;
    padding-bottom: 0;
    margin-bottom: 0;
}

.no-pad {
    padding: 0;
}

.main-content {
    padding: 30px 0 30px 0;
}

h1, h2, h3, h4, h5 {
    color: #000;
}

h1, h2, h3 {
    text-transform: uppercase;
    font-weight: 600;
}

p {
    color: $color-default-gray;
}

.default-subtitle {
    font-size: 1rem;
    font-weight: bold;
}

.light {
	font-weight: 300;
}

.regular {
	font-weight: 400;
}

.normal {
	font-weight: 500;
}

.font600 {
	font-weight: 600;
}

.bold {
	font-weight: 700;
}

.pad-0 {
    padding: 0;
}

.mt-40 {
    margin-top: 40px;
}

.mt-negative {
    margin-top: -90px;
    margin-left: 15px;
}

.btn-wrapper {
    .btn-main {
        background-color: $color-default-blue;
        border-radius: 30px;
        color: #ffffff;
        font-size: 20px;
        padding: 8px 28px;
        margin-right: 10px;

        &:hover {
            color: #fff;
            transition: all 0.3s ease 0s;
            background-color: $color-default-darkgray;
        }
    }
}

.top-content {
    width: 100%;
}

.img-hover-zoom {
    overflow: hidden; 
    cursor: pointer;
}

.img-hover-zoom {
    img {
        transition: all .6s ease;
    }
}

.img-hover-zoom:hover img {
    transform: scale(1.5);
    z-index: 9999;
}
  
