.site-header {
    position: relative;
    background-color: $color-default-blue;

    .topbar-outer {
        font-size: 13px;
        display: inline-block;
        vertical-align: top;
        width: 100%;
        position: relative;
        text-align: right;
        padding: 15px 0 15px;
        background: $color-default-darkgray;

        .phone-block {
            line-height: 40px;
            vertical-align: top;
            text-align: left;
            color: #fff;
            display: inline-block;

            .phone-inner {
                display: inline-block;
                vertical-align: top;
                font-size: 13px;
            }
        }

        .topbar-text {
            text-align: center;
            padding: 0;
            font-weight: 400;
            line-height: 40px;
            color: #969696;
            display: inline-block;
        }

        .header-offer {
            position: relative;
            margin: 0;
            line-height: 40px;
        }

        .offer-inner {
            display: inline-block;
            vertical-align: top;
            text-align: left;
        }

        .offer-icon {
            display: inline-block;
            vertical-align: top;            
        }
    }
}

// TODO

.navbar-dark .navbar-nav .nav-link {
    color: $color-default-darkgray;
}

.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: #F6F6F6;
    transition: all 0.3s ease;
}

.navbar {
    padding: 0;
    background-color: $color-default-blue;

    .navbar-brand {
        padding: 0;

        img {
            object-fit: cover;
            height: 55px;
        }
    }

    .sign {
        height: 60px;
        width: 60px;
        background: #1d1c21;
        position: relative;

        img {
            width: 50px;
            height: 50px;
            position: absolute;
            bottom: 5px;
            left: 7px;
            cursor: pointer;

            &:hover {
                transform: scale(1.1);
                transition: all ease-in-out 0.3s;
            }
        }

        &::after {
            content: '';
            position:absolute;
            height: 0;
            width: 0;
            margin-top: 60px;
            border-right: 30px solid transparent;
            border-bottom: 8px solid transparent; 
            border-left: 30px solid #1d1c21; 
        }

        &::before {
            content: '';
            position:absolute;
            height: 0;
            width: 0;
            margin-top: 60px;
            border-right: 30px solid transparent;
            border-bottom: 8px solid transparent; 
            border-left: 30px solid #1d1c21;
            transform: rotateY(180deg);
          }
      }

    .nav-link {
        color: white;
        font-size: 18px;
        font-weight: 500;
    }

    .nav-item,
    .menu-item {
        .search {
            position: absolute;
            margin: auto;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            width: 40px;
            height: 40px;
            background: none;
            border-radius: 50%;
            transition: all 0.8s;
            z-index: 4;
            // box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);

            &:hover {
                cursor: pointer;
            }

            &::before {
                content: "";
                position: absolute;
                margin: auto;
                top: 11px;
                right: 0;
                bottom: 0;
                left: 11px;
                width: 9px;
                height: 2px;
                background: #151515;
                transform: rotate(45deg);
                transition: all .5s;
            }

            &::after {
                content: "";
                position: absolute;
                margin: auto;
                top: -5px;
                right: 0;
                bottom: 0;
                left: -5px;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                border: 2px solid #151515;
                transition: all .5s;
            }
        }

        input {
            position: absolute;
            margin: auto;
            top: 0;
            right: 10px;
            bottom: 0;
            width: 10px;
            height: 60px;
            outline: none;
            border: none;
            background: #fff;
            color: #1d1c21;
            text-shadow: 0 0 10px #fff;
            padding: 0 30px 0 20px;
            border-radius: 30px;
            transition: all 1s;
            opacity: 0;
            z-index: 5;
            font-weight: bolder;
            letter-spacing: 0.1em;
            margin-right: -30px;

            &:hover {
                cursor: pointer;
            }

            &:focus {
                width: 700px;
                opacity: 1;
                cursor: text;
            }

        &:focus ~ .input {
            right: 80px;
        }

        &:focus ~ .search {
            right: 0;
            background: none;
            z-index: 6;

            &::before {
                top: 0;
                left: 0;
                width: 15px;
                background: #1d1c21;
            }

            &::after {
                top: 0;
                left: 0;
                width: 15px;
                height: 2px;
                border: none;
                border-radius: 0%;
                transform: rotate(-45deg);
                background: #1d1c21;
            }
        }

        &::placeholder {
            color: #c6c6c6;
            opacity: 0.5;
            font-weight: bolder;
            }
        }
    }

    .container-search {
        position: relative;
        width: 30px;
        height: 80px;
        margin-right: 30px;
    }

    .dropdown-menu {
        float: left;
        border: 5px solid #f0f0f2;
        padding: 10px 15px;
        height: 0;
        margin-top: 20px;
        border-radius: 0;
        overflow: hidden;
        -webkit-transition: height 0.5s; 
        transition: height 0.5s;
        opacity: 0;

        .dropdown-item:hover, .dropdown-item:focus {
            color: $color-default-blue;
            text-decoration: none;
            background-color: transparent;
            transition: all ease 0.3s;
            cursor: pointer;

        }
    }
}

.overlay, .sideMenu {
	position: fixed;
	bottom: 0;
}

.overlay {
	top: 0;
	left: -100%;
	right: 100%;
	margin: auto;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 998;
	transition: all ease 0.2s
}

.overlay.open {
	left: 0;
	right: 0
}

.sidebarNavigation {
	margin-bottom: 0;
	z-index: 999;
	justify-content: flex-start
}

.sidebarNavigation .leftNavbarToggler {
	margin-right: 10px;
	order: -1
}

.sideMenu {
	left: -100%;
	top: 52px;
	transition: all ease 0.5s;
	overflow: hidden;
	width: 100%;
	z-index: 999;
	max-width: 80%;
	margin-bottom: 0;
	padding: 1rem
}

.sideMenu.open {
	left: 0;
	display: block;
	overflow-y: auto
}

.sideMenu ul {
	margin: 0;
	padding: 0 15px
}

.bardhe {
    ul {
        display: flex;
        align-items: stretch;
        justify-content: flex-end;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    
    li {
        display: block;
        flex: 0 1 auto;
        list-style-type: none;
        margin-right: 20px;

        #text, #ico {
            line-height: 30px;
        }

        .fa {
            vertical-align: top;
            font-size: 18px;
            margin-right: 5px;
            color: $color-default-blue;
        }

        #text {
            font-size: 14px;
            font-weight: 500;
        }
    }
}

@media (min-width: 768px) {
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 1.2rem;
        padding-left: 1.2rem;
        padding-bottom: 25px;
        padding-top: 25px;
    }
}

@media (min-width: 979px) {
    ul.nav .nav-item:hover > .dropdown-menu {
      display: block;
      max-height: 1000px;
      height: auto !important;
      -webkit-transition: height 0.5s; 
      transition: height 0.5s;
      opacity: 1;
      margin-top: 0;
    }
  }
