//
// Footer
// --------------------------------------------------
// Custom footer styles

// Global variables
//

$footer-height: 60px;
$footer-text-margin: 20px;

// Global mixins
//

// Called in _scaffolding.scss
@mixin footer-htmlProps {
  position: relative;
  min-height: 100%;
}

// Called in _scaffolding.scss
@mixin footer-bodyProps {
  // Margin bottom by footer height
  margin-bottom: ($footer-height - $footer-text-margin);
}

// Module wrapper
.footer {
  .topbar-outer {
      font-size: 13px;
      display: inline-block;
      vertical-align: top;
      width: 100%;
      position: relative;
      text-align: right;
      padding: 15px 0 15px;

      .phone-block {
          line-height: 40px;
          vertical-align: top;
          text-align: left;
          color: #fff;
          display: inline-block;

          .phone-inner {
              display: inline-block;
              vertical-align: top;
              font-size: 13px;
          }
      }

      .topbar-text {
          text-align: center;
          padding: 0;
          font-weight: 400;
          line-height: 40px;
          color: #969696;
          display: inline-block;
      }

      .header-offer {
          position: relative;
          margin: 0;
          line-height: 40px;
      }

      .offer-inner {
          display: inline-block;
          vertical-align: top;
          text-align: left;
      }

      .offer-icon {
          display: inline-block;
          vertical-align: top;            
      }
  }

  section {
    .section-title {
      text-align: center;
      color: #007b5e;
      margin-bottom: 50px;
      text-transform: uppercase;
    }
  }
  
  #footer {
    padding-top: 80px;
    padding-bottom: 30px;
    background: #1d1c21 !important;

    p {
      color: #fff;
      font-weight: 500;
      margin-bottom: 50px;
    }

    .list-inline {
      margin-top: 56px;

      &.payment {
        margin-top: 0 !important;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
        }
      }
    }
  
    h5 {
      padding-left: 10px;
      border-left: 3px solid #eeeeee;
      padding-bottom: 6px;
      margin-bottom: 20px;
      color: #ffffff;
    }
  
    a {
      color: #ffffff;
      text-decoration: none !important;
      background-color: transparent;
      -webkit-text-decoration-skip: objects;
    }
  
    ul {
      &.social li {
        padding: 3px 0;
  
        a i {
          margin-right: 5px;
          font-size: 25px;
          -webkit-transition: 0.5s all ease;
          -moz-transition: 0.5s all ease;
          transition: 0.5s all ease;
        }
  
        &:hover a i {
          font-size: 30px;
          margin-top: -10px;
        }
  
        a {
          color: #ffffff;
        }
      }
  
      &.quick-links li a {
        color: #ffffff;
      }
  
      &.social li a:hover {
        color: #eeeeee;
      }
  
      &.quick-links li {
        padding: 3px 0;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
  
        &:hover {
          padding: 3px 0;
          margin-left: 5px;
          font-weight: 700;
        }
  
        a i {
          margin-right: 5px;
        }
  
        &:hover a i {
          font-weight: 700;
        }
      }
    }

    .newsletter {
      .content {
        margin: 0 auto;
        text-align: center;
        position: relative;
        z-index: 2;
    
        h3 {
          color: #fff;
        }
    
        .form-control {
          height: 50px;
          border-radius: 0;
        }
    
        &.form-control:focus {
          box-shadow: none;
          border: 2px solid #243c4f;
        }
    
        .btn {
          min-height: 50px;
          border-radius: 0;
          background: #243c4f;
          color: #fff;
          font-weight: 600;
        }
      }
    }

    .newsletter-img-container {
      height: 36px;
      margin-bottom: 20px;

      .img-newsletter {
        &::before {
          content: "";
          right: 0;
          left: 0;
          position: absolute;
          background: url(/assets/img/email.svg) no-repeat center;
          background-size: 36px;
          bottom: 0;
          width: 36px;
          height: 36px;
          margin: 0 auto;
          text-align: center;
          top: 0;
        }
      }
    }
  }
  
  @media (max-width: 767px) {
    #footer h5 {
      padding-left: 0;
      border-left: transparent;
      padding-bottom: 0;
      margin-bottom: 10px;
    }
  }
}
