<section class="about-section web">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="title">
                        <h2>Desarrollo Web</h2>
                        <span class="divisor"></span>
                    </div>
                    <div class="about-p">
                        <p class="paragraph">Un diseño desarrollado a medida es determinante ya que le brinda servicios de calidad al cliente, logrando destacar su empresa en internet. El objetivo primordial como agencia de marketing digital es que su emprendimiento cumpla un logro nuevo día a día y gane popularidad en los medios digitales. <br><br>Además, Creamos una web moderna, que se adapte a la necesidad de cada cliente, con las últimas tendencias tecnológicas. Si su desarrollo es auto-administrable le brindamos cursos para capacitarlo y enseñarle a administrar su propia web.<br><br>Su empresa tendrá acceso a través de una plataforma con usuario y contraseña para administrar el sitio web, podrá actualizarlo sin complejidad y la web será modificada por usted mismo.<br><br>En Skyline  planificamos una estrategia fácil, efectiva, con una web responsive, acompañada de un fuerte impacto en las redes sociales y todo medio digital.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>






