<section class="about-section">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="title">
                        <h2>IMPRESION</h2>
                        <span class="divisor"></span>
                    </div>
                    <div class="about-p">
                        <p class="paragraph">
                            Skyline produce un amplio rango de impresiones digitales, trabajamos con las mejores máquinas del mercado (Roland), tintas de calidad superior, con protección UV y un cuidado por el detalle que desde hace 25 años nos caracteriza…
                        </p>
                    </div>

                    <div class="subtitle">
                        <h3>Impresión Full color en Cama Plana UV</h3>
                    </div>
                    <div class="about-p">
                        <p class="paragraph">Impresión directa sobre cualquier sustrato con tinta UV Led 100% durable. <br>
     Ideal para cartelería en exterior, mechandising, grafica publicitaria, señalética  exterior / interior, decoración. El límite es tu creatividad! <br>
                        </p>
                        <h4 class="mt-40">Los materiales que tenemos en stock son:</h4>
                    </div>

                    <div class="features-list">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 offset-md-2">
                                    <div class="list">
                                        <div class="num">
                                            <h3>PVC Espumado.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>Alto Impacto.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>Sintra.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>FOANBOARD.</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-4">
                                    <div class="list">
                                        <div class="num" style="display: none">
                                        </div>
                                        <div class="num" style="display: none">
                                        </div>
                                        <div class="num" style="display: none">
                                        </div>
                                        <div class="num" style="display: none">
                                        </div>
                                        <div class="num">
                                            <h3>PLASTICO CORRUGADO.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>Acrilico.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>PET.</h3>
                                        </div>
                                        <div class="num">
                                            <h3>MDF.</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
