<section class="about-section laser">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="title">
                        <h2>Grabados Laser</h2>
                        <span class="divisor"></span>
                    </div>
                    <div class="about-p">
                        <p class="paragraph">Desarrollamos proyectos especializados con corte, grabado y marcado láser, escuchamos tus necesidades y trabajamos creativamente para brindarte la mejor solución. <br><br>Esta tecnología se puede aplicar sobre una amplia gama de materiales, y el resultado varía según su composición. <br><br>Trabajamos con mdf o fibrofácil, melamina, maderas enchapadas, bambú, corcho, acrílicos, acetato, alto impacto, tela y cuero, papel, cartulina, cartón, goma eva; y además grabamos metales y vidrios.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>