<section id="about-us">
    <div class="row">
        <div class="col-10 offset-1">
            <div class="row">
                <div class="col-10 offset-1">
                    <div class="title">
                        <h2>Nosotros</h2>
                        <span class="divisor"></span>
                    </div>
                    <div class="about-p">
                        <p class="paragraph">
                            <b>SKYLINE</b> somos una empresa con más de 25 años en el mercado de Impresión Digital, Merchandising y Regalos empresariales.
                            Contamos con maquinas de tecnología de última generación y talleres propios.
                            También comercializamos todos los artículos nacionales e importados que ofrece el rubro en general.
                            Nuestro compromiso es brindarle la más alta calidad en cada producto, cumpliendo siempre con los plazos establecidos de entrega, sumando valor a sus estrategias, proponiendo soluciones creativas e innovadoras que les permitan alcanzar sus objetivos y fortalecer sus campañas de comunicación visual y gráfica.
                            Nuestro slogan es...
                            <b>Contános que necesitás y nos encargamos de ser tu mejor presentacion visual...</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>