<div class="banner-content">
	<div class="row">
		<div class="banner-content-img" style="background-image: url(/assets/img/printing-example.png);">
			<div class="container">
				<div class="row">
                    <div class="col-sm-4 offset-sm-8">
                        <div class="text-wrapper">
                            <h1>Impresiones</h1>
                            <p>En SKYLINE producimos un amplio rango de impresiones digitales y trabajamos con las mejores maquinas del mercado</p>
                            <div class="btn-wrapper">
                                <a class="btn btn-main primary mt20" href="https://www.vibrant-america.com/contact/">Contactar</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>