<div class="banner-content">
	<div class="row">
		<div class="banner-content-img" style="background-image: url({{ banner.imageUrl }});">
			<div class="container">
				<div class="row">
                    <div class="col-sm-4 offset-sm-8">
                        <div class="text-wrapper">
                            <h1>{{ banner.title }}</h1>
                            <p> {{ banner.description }}</p>
                            <div class="btn-wrapper">
                                <a class="btn btn-main primary mt20" href="contact.html">Contactar</a>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
</div>