<section id="buy-at-skyline">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="col-12">
                    <div class="title">
                        <h2>Comprar en skyline es asi de fácil</h2>
                        <span class="divisor"></span>
                    </div>
                    <div class="items">
                      <div class="row">
                        {{#each itemSkyline}}
                        <div class="col-sm-12 col-md-6 col-lg-3 item">
                            <div class="item-image-container">
                                <img src="{{ itemImg }}" class="rounded-circle img-fluid img-responsive" alt=""/>
                            </div>
                            <h5 class="default-subtitle">{{ itemTitle }}</h5>
                            <p>{{ itemDescription }}</p>
                        </div>
                        {{/each}}
                      </div>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
