<div class="header_top">
    <div class="header_top_inner">
        <div class="float-right">
            <ul class="list_style">
                <li><a href="tel:1238952582">+1800 456 7890</a></li>
                <li><a href="tel:1238952582">+1800 456 7890</a></li>
            </ul>
        </div>
    </div>
</div>