<div class="contact-us">
    <div class="row">
        <div class="col-12">
            <div class="shortcode-title center">
                <div class="title text-center">
                    <h2>CONTACTO</h2>
                    <span class="divisor"></span>
                </div>
            </div>
        </div>

        <div class="container contact">
            <div class="row">
                <div class="col-md-8">
                    <div class="contact-form">
                        <div class="form-group">
                            <div class="col-sm-10"> 
                                <label class="control-label" for="fname">Nombre</label>         
                                <input type="text" class="form-control" id="fname" placeholder="Ingrese nombre" name="fname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10"> 
                                <label class="control-label" for="lname">Correo electronico</label>         
                                <input type="text" class="form-control" id="lname" placeholder="Ingrese correo electronico" name="lname">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label" for="email">Teléfono:</label>
                                <input type="email" class="form-control" id="email" placeholder="Ingrese Teléfono" name="email">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label" for="comment">Comentario o mensaje</label>
                                <textarea class="form-control" rows="5" id="comment"></textarea>
                            </div>
                        </div>
                        <div class="form-group">        
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-default">Enviar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="address-container hb-animate-element right-to-left">
                        <div class="address-text first">
                            <div class="address-text-inner">
                                <div class="icon">
                                    <i class="fa fa-map-marker"></i>
                                </div>
                                <div class="content">
                                    <div class="address-label">
                                        Dirección:
                                    </div>
                                    <p>Amenábar 1314, CABA</p>
                                </div>
                            </div>
                        </div>
                        <div class="address-text second">
                            <div class="address-text-inner">
                                <div class="icon">
                                    <i class="fa fa-phone"></i>
                                </div>
                                <div class="content">
                                    <div class="address-label">
                                        Teléfonos:
                                    </div>
                                    <p>011 5370 7000</p>
                                    <p>011 2546 7000</p>
                                    <p>011 6805 7070</p>
                                </div>
                            </div>
                        </div>
                        <div class="address-text third">
                            <div class="address-text-inner">
                                <div class="icon">
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <div class="content">
                                    <div class="address-label">
                                        Correo:
                                    </div><a class="text-lowercase" href="mailto:demo@example.com">contacto@skyline.com.ar</a>
                                    <p>Lunes a viernes 9:00 hs a 18:00hs</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>