{{!-- begin: footer --}}
<footer id="colophon" class="site-footer">
    <div class="footer-top">
        <div class="middle-container">
            <div id="footer-widget-area">
                <div id="first" class="first-widget footer-widget">
                    <aside id="followmewidget-5" class="widget widgets-follow-us">
                        <div class="title-outer">
                            <h3 class="widget-title">Follow Us</h3></div>
                        <div id="follow_us" class="follow-us">
                            <ul class="toggle-block">
                                <li>
                                    <a href="#" title="Facebook" class="facebook icon">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="Twitter" class="twitter icon">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" title="Linkedin" class="linkedin icon">
                                        <i class="fa fa-linkedin"></i>
                                    </a>
                                    <a href="#" title="RSS" class="rss icon">
                                        <i class="fa fa-rss"></i>
                                    </a>
                                    <a href="#" title="Skype" class="skype icon">
                                        <i class="fa fa-skype"></i>
                                    </a>
                                    <a href="#" title="Instagram" class="instagram icon">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <!-- #first .widget-area -->
                <div id="second" class="second-widget footer-widget">
                    <aside id="newsletterwidget-3" class="widget widget_newsletterwidget">
                        <div class="title-outer">
                            <h3 class="widget-title">Newsletter Signup</h3></div><span class="news-text">Join our list and get 15% off your first purchase!</span>
                        <div class="tnp tnp-widget toggle-block">
                            <form method="post" action="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/?na=s" onsubmit="return newsletter_check(this)">

                                <input type="hidden" name="nlang" value="">
                                <input type="hidden" name="nr" value="widget">
                                <input type="hidden" name="nl[]" value="0">
                                <div class="tnp-field tnp-field-email">
                                    <label>Email</label>
                                    <input class="tnp-email" type="email" name="ne" required="">
                                </div>
                                <div class="tnp-field tnp-field-button">
                                    <input class="tnp-submit" type="submit" value="Subscribe">
                                </div>
                            </form>
                        </div>
                    </aside>
                </div>
                <!-- #second .widget-area -->
                <div id="third" class="third-widget footer-widget">
                    <aside id="accepted_payment_methods-3" class="widget widget_accepted_payment_methods">
                        <div class="title-outer">
                            <h3 class="widget-title">Accepted Payment Methods</h3></div>
                        <ul class="accepted-payment-methods">
                            <li class="maestro"><span>Maestro</span></li>
                            <li class="mastercard"><span>MasterCard</span></li>
                            <li class="paypal"><span>PayPal</span></li>
                            <li class="visa"><span>Visa</span></li>
                        </ul>
                    </aside>
                </div>
                <!-- #third .widget-area -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="middle-container">
            <div class="footer-menu-links">
                <ul id="menu-mainmenu-2" class="footer-menu">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item page-item-212 current_page_item menu-item-7179"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/" aria-current="page">Home</a></li>
                    <li class="shop menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7208"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/shop/">Shop</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7189"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/blog/">Blog</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7203"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/media/">Media</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-7176"><a href="#">ShortCode</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7194"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/features/">Features</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-7187"><a href="http://wordpress.templatemela.com/woo/WCM04/WCM040077/WP3/about-us/">About Us</a></li>
                </ul>
            </div>
            <!-- #footer-menu-links -->
            <div class="site-info">Copyright © 2019 Templatemela, All Rights Reserved. </div>
        </div>
    </div>
</footer>

{{!-- end: footer --}}
