<nav class="navbar navbar-expand-md navbar-dark sidebarNavigation" data-sidebarClass="navbar-dark">
        <div class="container">
        <a class="navbar-brand" href="index.html"><img src="assets/img/logo_home.png" alt="" class="logo"></a>
        <button class="navbar-toggler leftNavbarToggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item {{#if active.index}}active{{/if}}">
                    <a class="nav-link" href="index.html">Inicio
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item dropdown {{#if active.servicios}}active{{/if}}">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Servicios</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="printing.html">Impresiones</a>
                        <a class="dropdown-item" href="grabados-laser.html">Grabado Laser</a>
                        <a class="dropdown-item" href="desarrollo-web.html">Desarrollo Web</a>
                    </div>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="https://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">Productos</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown01">
                        <a class="dropdown-item" href="category-products.html">Bazar</a>
                        <a class="dropdown-item" href="category-products.html">Bolígrafos</a>
                        <a class="dropdown-item" href="category-products.html">Escritorio</a>
                        <a class="dropdown-item" href="category-products.html">Herramientas</a>
                        <a class="dropdown-item" href="category-products.html">Indumentaria</a>
                        <a class="dropdown-item" href="category-products.html">Marroquinería</a>
                        <a class="dropdown-item" href="category-products.html">Promocionales</a>
                        <a class="dropdown-item" href="category-products.html">Publicitarios</a>
                        <a class="dropdown-item" href="category-products.html">Sublimación</a>
                        <a class="dropdown-item" href="category-products.html">Tecnologia</a>
                    </div>
                </li>

                <li class="nav-item {{#if active.galeria}}active{{/if}}">
                    <a class="nav-link" href="galeria.html">Galeria</a>
                </li>

                <li class="nav-item {{#if active.contact}}active{{/if}}">
                    <a class="nav-link" href="contact.html">Contacto</a>
                </li>

                {{!-- <li class="nav-item">
                    <a class="nav-link" href="#"><i class="fa fa-search"></i></a>
                </li> --}}

                <li class="nav-item">
                    <div class="container-search">
                        <input type="text" placeholder="Search...">
                        <div class="search"></div>
                    </div>
                </li>

                <li class="nav-item">
                    <div class="sign">
                        <a href="https://api.whatsapp.com/send?phone=5491153837665&text=Hola%20Skyline,%20Queria%20pedir%20mas%20informacion%20acerca%20de%20sus%20productos." target="_blank">
                            <img src="assets/img/whatsapp-transparent.png" alt="">
                        </a>
                        
                    </div>
                </li>
            </ul>
           <!--  <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form> -->
        </div>
    </div>
    </nav>

{{!-- <nav class="navbar navbar-expand-md navbar-dark sidebarNavigation" data-sidebarclass="navbar-dark">
	<div class="container">
		<a class="navbar-brand" href="index.html"><img alt="" class="logo" src="https://localhost/Skyline2/wp-content/themes/skyline/assets/img/logo_home.png"></a> <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler leftNavbarToggler" data-target="#navbarsExampleDefault" data-toggle="collapse" type="button"><span class="navbar-toggler-icon"></span></button>
		<div class="collapse navbar-collapse" id="navbarsExampleDefault" style="display: none;">
			<div class="nav navbar-nav nav-flex-icons ml-auto" style="margin-left: 2em">
				<div class="menu-menu-test-container">
					<ul class="menu" id="primary-menu">
						<li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-31" id="menu-item-31">
							<a href="https://skyline.com.ar/Skyline2">Inicio</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30" id="menu-item-30">
							<a href="https://localhost/Skyline2/domes/">Domes</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-29" id="menu-item-29">
							<a href="https://localhost/Skyline2/impresiones/">Impresiones</a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-75" id="menu-item-75">
									<a href="https://localhost/Skyline2/impresiones-en-cama-plana/">Impresiones en Cama Plana</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-74" id="menu-item-74">
									<a href="https://localhost/Skyline2/impresiones-full-color/">Impresiones Full Color</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-28" id="menu-item-28">
							<a href="https://localhost/Skyline2/merchandising/">Merchandising</a>
							<ul class="sub-menu">
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-278" id="menu-item-278">
									<a href="https://localhost/Skyline2/domes/">Domes</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-277" id="menu-item-277">
									<a href="https://localhost/Skyline2/pins/">Pins</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-276" id="menu-item-276">
									<a href="https://localhost/Skyline2/cintas-llavero/">Cintas Llavero</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-275" id="menu-item-275">
									<a href="https://localhost/Skyline2/llaveros/">Llaveros</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-274" id="menu-item-274">
									<a href="https://localhost/Skyline2/credenciales/">Credenciales</a>
								</li>
								<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-273" id="menu-item-273">
									<a href="https://localhost/Skyline2/botones/">Botones Publicitarios</a>
								</li>
							</ul>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-78" id="menu-item-78">
							<a href="https://localhost/Skyline2/eventos/">Medallas y Trofeos</a>
						</li>
						<li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-315" id="menu-item-315">
							<a href="https://localhost/Skyline2/contacto/">Contacto</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</nav> --}}