 <div class="map">
    <div class="row">
        <iframe class="my-location" src="https://maps.google.com/maps?q=amenabar%201314&t=&z=15&ie=UTF8&iwloc=&output=embed" width="100%" height="460" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
 </div>
