<header class="site-header site-header-fix header full-width">
	{{!-- begin: navbar --}}
		<div class="topbar-outer">
			<div class="container">
				<div class="row">
					<div class="offset-6 col-md-2">
						<div class="phone-block">
							<div class="contact-inner">
								<span class="contact-icon"></span>
								<div class="number">
									<p>47883006/011 2546700</p>
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="topbar-text">
							<p>contacto@skyline.com.ar</p>
						</div>
					</div>
					<div class="col-md-2">
						<div class="header-offer">
							<div class="topbar-text">
								<p>Zapiola 2193 9D</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	{{!-- end: navbar --}}
	{{> header }}
</header>
