<header class="site-header site-header-fix header full-width">
	{{!-- begin: navbar --}}
		<div class="topbar-outer">
			<div class="container">
				<div class="row bardhe">
					{{!-- <div class="feature-col offset-6 col-xs-12 col-sm-2 col-md-2 kolonat-hom">
						<div class="ikonat-home">
							<i id=ico class="icon icon-2x fa fa-phone"></i>
							<span id="text">47888306 / 011 2546700</span>
						</div>
					</div>
					
					<div class="feature-col col-xs-12 col-sm-2 col-md-2 kolonat-hom">
						<div class="ikonat-home">
							<i id=ico class="icon icon-2x fa fa-phone"></i>
							<span id="text">Contacto@skyline.com.ar</span>
						</div>
					</div>
					<div class="feature-col col-xs-12 col-sm-2 col-md-2 kolonat-hom">
						<div class="ikonat-home">
							<i id=ico class="icon icon-2x fa fa-phone"></i>
							<span id="text">Zapiola 2193 9D</span>
						</div>
					</div> --}}

					<ul>
						<li>
							<i id=ico class="icon icon-2x fa fa-phone"></i>
							<span id="text">47888306 / 011 2546700</span>
						</li>
						<li>
							<i id=ico class="icon icon-2x fa fa-envelope"></i>
							<span id="text">Contacto@skyline.com.ar</span>
						</li>
						<li>
							<i id=ico class="icon icon-2x fa fa-map-marker"></i>
							<span id="text">Zapiola 2193 9D</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	{{!-- end: navbar --}}
	{{> header }}
</header>
