<div class="page-title header">
    <div class="page-title-inner">
        <h3 class="entry-title-main">{{ page.title }}</h3>
        <div class="breadcrumbs">
            <p id="breadcrumbs">
                <span>
                    <span><a href="index.html">Inicio</a> / <span class="breadcrumb_last" aria-current="page">{{ page.title }}</span></span>
                </span>
            </p>
        </div>
    </div>

</div>