<div class="container-fluid no-pad">
    <section id="printing" class="sub-content">
        <div class="container">
            <div class="main-content">
                <div class="about-section">
                    <div class="row">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-10 offset-1">
                                    <div class="subtitle">
                                        <h3>Impresion full color y corte en Plotter</h3>
                                    </div>

                                    <div class="about-p">
                                        <p class="paragraph">Contamos con equipamiento de última generacion para impresiones de gran formato, con tintas Látex Ecológicas de alta calidad y protección UV. <br>
                                        Imprimimos Vinilos de Impresión, Microperforado, Gigantografías, Lonas Front, BackLight y Blockout. <br>

                                        Ademas contamos con maquinaria para realizar Impresiones en Tela para cuadros. Realizamos también armado de carteles e instalación de vidrieras. Proveemos estructuras de Portabanners standard. También realizamos stoppers con bases en PVC Espumado o Foamboard.
                                        </p>
                                    </div>

                                    <h4 class="mt-40">
                                        Podemos producir:
                                    </h4>
                                    <div class="features-list">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4 offset-md-2">
                                                    <div class="list">
                                                        <div class="num"><h3>Cuadros en Tela con Marcos de Madera.</h3></div>
                                                        <div class="num"><h3>Calcomanías rotuladas.</h3></div>
                                                        <div class="num"><h3>Banners y Portabanners.</h3></div>
                                                        <div class="num"><h3>Lonas para Vidrieras.</h3></div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="list">
                                                        <div class="num" style="display: none"></div>
                                                        <div class="num" style="display: none"></div>
                                                        <div class="num" style="display: none"></div>
                                                        <div class="num" style="display: none"></div>
                                                        <div class="num"><h3>Ploteos para locales.</h3></div>
                                                        <div class="num"><h3>Interiores de oficinas y locales.</h3></div>
                                                        <div class="num"><h3>Gigantografías en diversos materiales.</h3></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>