---
page: { title: "Contacto" }

active: { contact: true }

---
	{{> navbar }}
	{{> page-title}}

	{{!-- begin: content container --}}
	<main class="container">
		<div class="main-content">
			{{!-- begin: content --}}
			{{> map }}

			{{> contact-us }}
			{{!-- end: content --}}
		</div>
	</main>

	{{!-- end: content container --}}

	{{> footer }}