---
active: { index: true }

page: { title: "Productos" }

itemSkyline: [
{itemImg: "/assets/img/contanos.png", itemTitle: "Contanós que necesitás", itemDescription: 'Elegí el/los articulos de tu preferencia y clickea "Añadir a mi cotizacion"'},
{itemImg: "/assets/img/envio.png", itemTitle: "Envió de cotización", itemDescription: "Nuestros ejecutivos de venta te enviaran la cotización solicitada a un mail con los precios, plazos de entrega y forma de pago"},
{itemImg: "/assets/img/confirmacion.png", itemTitle: "Confirmación de compra", itemDescription: "Una vez confirmada la compra, procedemos al armado de bocetos digitales para aprobación y produccion del mismo."},
{itemImg: "/assets/img/entrega.png", itemTitle: "Entrega", itemDescription: "Puedes retirar o realizamos la entrega de tu pedido en los plazos definidos"}
]
---
	{{> navbar }}
	{{> page-title }}

	{{!-- begin: content container --}}
	{{> tabla-cotizacion }}
	{{!-- end: content container --}}

	{{> footer }}


	<!-- Modal -->
	<div class="modal-cotizacion">
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Solicitud de cotización enviada</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">×</span>
				</button>
			</div>
			<div class="modal-body">
				Estaremos viendo a la brevedad su correo y nos contactaremos lo mas rapido de vuelta con la informacion solicitada.
			</div>
			</div>
		</div>
		</div>
	</div>

	
